*.gem
.bundle
.sass-cache
_site
Gemfile.lock
*.code-workspace
node_modules/
nginx.conf

# Build artifacts
build/
dist/

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS internals
.DS_Store

# Debugging outputs
*_output.txt
*_logs.txt
