// About page (/about)

.markdown {
  p {
    margin: auto;
  }

  h1 {
    font-size: 0.8em;
    margin-top: 3em;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 2em auto;
  }
}